.content {
  max-width: var(--breakpoint-lg);
  padding: 0 16px;
  margin: 16px auto;
}

.grid {
  display: grid;
  justify-items: stretch;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 330px);
  gap: 16px;
  margin: 0 16px 16px;
}

.contactInfo {
  color: #122e3f;

  &:hover {
    color: var(--color-light-blue);
  }
}

@media screen and (max-width: 346px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.wrapper {
  display: inline-grid;
}

