.header {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-content: baseline;
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 8px;
}

.share {
  align-self: end;
}

.card {
  background-color: var(--color-dark-blue) !important;
  color: floralwhite !important;
  border-color: #808080 !important;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
}

.buttons > * {
  margin-top: 10px;
  margin-right: 10px;
}

.suggestion-feedback {
  margin-top: 0.25rem;
  font-size: 0.875em;
  filter: brightness(85%);
  white-space: nowrap;
}

.valid-feedback {
  white-space: nowrap;
}

.buttons > * {
  margin-right: 10px;
}

.cloud {
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
}

.openDetails {
  padding: 0;
  margin: 0;
}

.closeDetails {
  padding: 0;
  margin: 0;
}

details[open] > :global(summary) > .openDetails {
  display: none;
}

details:not([open]) > :global(summary) > .closeDetails {
  display: none;
}

:global(summary) {
  list-style: none;
  min-width: 132px;
  margin-bottom: 4px;
}

:global(summary > p) {
  padding: 0;
}
