table {
  background: white;
  color: black;

}

th {
  border-bottom: 1px solid lightgray;
  padding: 4px 8px;
}

tr:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

td {
  padding: 4px 8px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}