.article {
  background-color: var(--color-dark-blue) !important;
}

.grid {
  margin: 16px;
  display: grid;
  justify-items: stretch;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 16px;
}

@media screen and (min-width: 576px) {
  .grid {
    margin: 48px;
  }
}
