.article:hover {
  opacity: 80%;
  transition: 0.25s;
}

.action-area {
  height: 100%;
}

.grid {
  display: grid;
  justify-items: stretch;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 298px);
  gap: 16px;
  margin: 48px auto;
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 48px 16px;
  }
}

@media screen and (min-width: 576px) {
  .grid {
    margin: 48px;
  }
}
