.header {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-content: baseline;
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 8px;
}

.share {
  align-self: end;
}
