.navbar {
  background-color: var(--color-dark-blue);
}

@media only screen and (max-width: 768px) {
  .icon {
    display: inline-block;
    text-align: center;
    width: 26px;
  }
}

.search {
  flex-basis: 0 !important;
  flex-grow: 0 !important;
}

.search-field {
  margin: 8px 16px;
}
