.body {
  max-width: 670px;
  margin: 0 auto;
}

.body p {
  text-align: justify;
  text-justify: inter-word;
}

.body p span img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .body {
    max-width: 100%;
  }
}
