
.paginator :global(.MuiTablePagination-selectLabel) {
  margin-top: 12px;
}

.paginator :global(.MuiTablePagination-displayedRows) {
  margin-top: 12px;
}

@media (max-width: 480px) {
  .button {
    text-align: center;
  }
}
