.breadcrumb >.active {
  color: white
}

.breadcrumb a {
  color: floralwhite;
}

.css-pdct74-MuiTablePagination-selectLabel {
  margin-top: 12px;
}

.css-levciy-MuiTablePagination-displayedRows {
  margin-top: 12px;
}