.container {
  max-width: var(--breakpoint-lg);
  margin: 16px auto;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1040px) {
  .container {
    margin: 16px;
  }
}

.link {
  color: white !important;
}

.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 8px;
  row-gap: 8px;
  margin-bottom: 16px;
}

.card-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.card {
  display: grid;
  align-content: space-between;
  padding-bottom: 8px;
  background-color: var(--color-dark-blue) !important;
}
