.card {
  background-color: var(--color-dark-blue);
  color: floralwhite;
  border-color: #808080;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
}

.buttons > * {
  margin-right: 10px;
}
